.dimension-controls {
    display: flex;
    gap: 24px;
    padding: 20px;
    background-color: #2a2d34;
    border-radius: 8px;
}

.input-item{
    padding: 10px;
}

.input-label{
    padding: 0px;
}

.action-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    /*margin:20px 20px;*/
    background-color: #2a2d34;
    padding: 20px;
    border-radius: 8px;
}

.matrix-grid{
    padding: 20px;
    border-radius: 8px ;
    border: 2px dashed #677280;
    margin-top: 20px;
}

.control-buttons{
    background-color: #4caf50;
}